.navigation {
  &__list {
    display: flex;
  }

  &__column {
    margin-right: 70px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (max-width: $not-desktop-width) {
  .navigation {
    &__list {
      flex-direction: column;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .navigation {
    &__column {
      display: block;
    }
  }
}