@import "./variables.scss";
@import "./mixin.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font-pt-mono;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: $font-color;
  background-color: #ffffff;
}

ul {
  @include list-style();
}

img {
  max-width: 100%;
  height: auto;
}

.background {
  background-color: $dark-color;
  background-image: url("../img/dark-background@1x.png"),
    url("../img/circuit-desktop@1x.png"),
    url("../img/geometry@1x.png");
  background-repeat: no-repeat;
  background-position: 0% 100%, 85% 71%;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .background {
    background-image: url("../img/dark-background@2x.png"),
      url("../img/circuit-desktop@2x.png"),
      url("../img/geometry@2x.png");
    background-size: cover, 705px 515px, cover;
  }
}
